<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!--  <script href="{{ url_for('static', path='/tailwind') }}"></script>-->
</head>
<body>
<!-- Checkout Section: Simple Box -->
<div class="bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl">
        <!-- Box -->
        <div
                class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100"
        >
            <div class="mx-auto w-full max-w-lg grow p-5">
                <!-- Heading -->
                <div class="mt-5 text-center">
                    <h6
                            class="mb-1 text-sm font-bold uppercase tracking-wider text-blue-600 dark:text-blue-400"
                    >
                        TRANSLATION
                    </h6>

                    <div class="space-y-6">
                        <form id="form" class="space-y-6">
                            <div
                                    class="space-y-6 rounded border border-gray-200 bg-gray-50 p-4 dark:border-gray-700/75 dark:bg-gray-900/50"
                            >
                                <div class="space-y-1">
                <textarea
                        rows="20"
                        name="text"
                        placeholder="Enter your Text"
                        class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-blue-500"
                ></textarea>
                                </div>

                            </div>
                            <div id="output"
                                 class="custom space-y-6 rounded border border-gray-200 bg-gray-50 p-4 dark:border-gray-700/75 dark:bg-gray-900/50"
                            >
                            </div>
                            <button
                                    type="submit"
                                    class="inline-flex w-full items-center justify-center gap-2 rounded-lg border border-blue-700 bg-blue-700 px-6 py-3 font-semibold leading-6 text-white hover:border-blue-600 hover:bg-blue-600 hover:text-white focus:ring focus:ring-blue-400/50 active:border-blue-700 active:bg-blue-700 dark:focus:ring-blue-400/90"
                            >
                                <span>Translate</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END Box -->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
        async function apiPost(url = "", data = {}) {
            const response = await fetch(url, {
                method: "POST",
                mode: "cors",
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                },
                redirect: "follow",
                referrerPolicy: "no-referrer",
                body: JSON.stringify(data),
            });
            return response.json();
        }

        function convertData(form) {
            const formData = new FormData(form);
            const formObject = {};

            formData.forEach((value, key) => {
                formObject[key] = value;
            });

            return formObject
        }

        function handleSubmit(event) {
            event.preventDefault();
            const data = convertData(form)
            return onSubmit(data)
        }

        function formatOutput(data) {
            const outputEL = document.getElementById("output")
            outputEL.innerText = data?.text
            var textWrapper = document.querySelector('.custom');
            textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
            anime.timeline({loop: false})
                .add({
                    targets: '.custom .letter',
                    translateX: [40, 0],
                    translateZ: 0,
                    opacity: [0, 1],
                    easing: "easeOutExpo",
                    duration: 1200,
                    delay: (el, i) => 500 + 30 * i
                })
        }

        async function onSubmit(data) {
            console.log(data)
            const res = await apiPost("/translate", data)
            formatOutput(res)
        }

        const form = document.getElementById("form");
        form.addEventListener("submit", handleSubmit);
    </script>
</body>
</html>